.App {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 150px 1fr;
  min-height: 100vh;
}

.sidebar {
  grid-column: 1;
  grid-row: 1/-1;
}
.menu-bar {
  grid-row: 1;
  grid-column: 1/-1;
  z-index: 1;
}
.canvas {
  grid-column: 3;
  grid-row: 1/-1;
  display: inline-grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(12, auto); */
}
